:root {
    --main-bg-color: linear-gradient(45deg, #e66465, #9198e5);
    --main-bg-light-color: white;
    --main-txt-color: black;
    --assistive-border: 3px dashed #ff0000;
    --assistive-border-helper: 3px solid transparent;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    font-family: "Jost", sans-serif;
    counter-reset: my-sec-counter;
    /*https://www.w3schools.com/cssref/tryit.asp?filename=trycss_counter-reset*/
}

table {
    width: 100%;
    text-align: center;
}

nav>ul {
    grid-area: header;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: var(--main-bg-color);
}

nav>ul>li {
    float: right;
    border: var(--assistive-border-helper);
}

nav>ul>li:hover {
    border: var(--assistive-border);
}

nav>ul>li a img {
    height: 1em;
}

nav>ul>li a {
    display: block;
    color: var(--main-txt-color);
    text-align: center;
    padding: 0.875em;
    text-decoration: none;
}

.splash {
    grid-area: splash;
    height: calc(100%-10%);
}

.splash>img {
    width: 100%;
    height: 100vh-10em;
    filter: blur(3px);
}

.splash>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.splash>div table {
    color: white;
}

main {
    grid-area: main;
    background-color: var(--main-bg-light-color);
    text-align: center;
}

.item {
    display: grid;
    grid-template-areas: 'image text';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 10px;
    margin: auto;
    width: 50%;
    border: var(--assistive-border-helper);
}

.item::before {
    /* Increment "my-sec-counter" by 1 */
    counter-increment: my-sec-counter;
    content: "Item number #" counter(my-sec-counter) ". ";
}

.item:focus,
.item:hover {
    border: var(--assistive-border);
}

.item>.image {
    grid-area: image;
}

.item>.image>img {
    width: 140px;
    height: 120;
}

.item>.text {
    grid-area: text;
    text-align: left;
    padding-left: 1em;
    width: 48em;
}

.item>.text>h2 {
    line-height: 0;
}

footer {
    grid-area: footer;
    text-align: center;
    background: var(--main-bg-color);
    width: 100%;
}

footer p {
    font-size: 1em;
}

.grid-container {
    display: grid;
    grid-template-areas: 'header header header header' 'splash splash splash splash' 'main main main main' 'footer footer footer footer';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.grid-container>div {
    /*text-align: center;*/
    padding: 0 0;
    max-height: min-content;
    margin: 0;
}